:host {
  --header-size: 55px;
  --breadcrumb-size: 27px;
  --sidebar-width: 200px;
  font-family: OpenSans, sans-serif;
  background-color: #00173F;
}

::ng-deep body {
  overflow: hidden;
}

.breadcrumb .breadcrumb-item:last-child, .breadcrumb .breadcrumb-item:last-child a {
	color: #ffffff;
}


#cy {
  width: 99vw;
  height: calc(100vh - var(--header-size) - var(--breadcrumb-size) - 1px);
  display: block;
  padding-left: 10px;
}

#message {
  padding: 10px;
  border: 1px solid rgb(230,230,250);
  color: white;
  font-weight: bold;
  background-color: #1a1c70;
  border-radius: 10px;
  position: fixed;
  bottom: 20px;
  width: 60vw;
  left: calc(50vw - 30vw);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
  text-align: center;
  overflow: auto;
}

#message #close {
  position: absolute;
  right: 10px;
  top: 0px;
  color: white;
}

#message .multiple {
  text-align: left;
}

#message ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}


.sidebar {
  margin-left: 0 !important;
  position: absolute;
  z-index: 2;
  height: 100%;
}

.sidebar-nav {
  width: var(--sidebar-width);
}

.nav-link:hover {
    color: #00348c !important;
}

.menu-toggler {
  margin-left: 10px;
}

.menu-hamburger {
  padding: 0px 4px;
  margin: 6px;
  cursor: pointer;
}

/* .menu-hamburger.active {
  outline: 1px dashed blue;
} */

.app-header {
  padding: 2px;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: var(--header-size);
  flex-wrap: wrap;
}

.app-name {
  text-transform: uppercase;
  line-height: 32px;
  font-size: 18px;
  margin-left: 10px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}


.breadcrumb {
	width: 100%;
	height: var(--breadcrumb-size);
	padding-left: 11px;
	padding-top: 5px;
}

::ng-deep .cy-panzoom {
	position: absolute;
	right: 40px;
	bottom: 200px;
}

::ng-deep .cy-panzoom-zoom-button {
  border-radius: 50%;
  color: #0C66FF;
}

.form-inline {
  margin-right: 72px;
}

::ng-deep .app-header .search .btn {
	padding: 0;
	margin: 0 10px 0 0;
	background: transparent;
	right: 0px;
	position: absolute;
	z-index: 99;
}

#detalhes-container {
  animation: fade 1s;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.1);
  z-index: 3;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.detalhes.principal {
  padding: 30px;
  border: 1px solid rgb(230,230,250);
  border-radius: 12px;
  color: white;
  font-weight: bold;
  background-color: white;
  display: none;
  position: absolute;
  box-shadow: 0px 4px 4px #00000033;
  z-index: 4;
  text-align: center;
  overflow: auto;
}

@media screen and (max-width: 415px) {
  .detalhes.principal {
    width: 99%;
  }
}

.detalhes p {
  color: #003DA5;
  text-align: left;
  font-size: 30px;
}

.detalhes .metricas {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}

.detalhes .metricas .card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.detalhes .metricas .card .icone {
  font-size: 35px;
  margin-right: 10px;
  color: #002158;
}

.detalhes .footer {
  text-align: right;
}

.detalhes .footer a {
  text-decoration: underline;
}

.detalhes .valor {
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  color: #118FFF;
}

.detalhes .header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detalhes .metrica {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.detalhes .header .valor {
  color: #000993;
}

.detalhes .descricao {
  font-size: 16px;
  color: #002158;
  margin-top: -10px;
  font-weight: normal;
}

.detalhes #close {
  position: absolute;
  right: 3px;
  top: 0px;
  color: #003DA5;
}

.detalhes .separador {
  border: 1px solid #CCCCCC;
  height: 100%;
}
.detalhes .separador-v:not(:last-child) {
  border-right: 1px solid #CCCCCC;
}

.detalhes.completo {
  width: 100%;
  padding: 10px;
  bottom: 0;
  background-color: white;
}
.menu-visivel .detalhes-completo{
  padding-left: var(--sidebar-width);
}

.detalhes.completo .header .scroll {
  position: absolute;
  right: 10px;
  color: #002158;
  font-size: 25px;
  animation: updown 1.5s 5;
}

@keyframes updown {
  0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}


.detalhes.completo .card {
  padding: 20px 40px;
}

.menu-visivel .breadcrumb{
  margin-left: var(--sidebar-width);
}

.menu-item.separador {
  border-top: 1px dashed rgb(99, 93, 170);
}

#triangle {
  position: relative;
}

#triangle.rotate {
  transform: rotate(-180deg);
}

#triangle:before,
#triangle:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 19px;
  border: 10px solid transparent;
  /* border-bottom-color: #dddddd; */
  z-index: 5;
}

#triangle:after {
  left: 20px;
  /* border: 10px solid transparent; */
  border-bottom-color: #ffffff;
}

#triangle.inverse:before,
#triangle.inverse:after {
  border-bottom-color: transparent;
  border-top-color: #ffffff;
}

/* #triangle[inverse]:after {
  border-bottom-color: transparent;
  border-top-color: #ffffff;
} */


@keyframes fade {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.info-tamanho {
  width: 100%;
  padding: 10px;
  position: fixed;
  bottom: 0;
  background-color: #000f2c;
  color: white;
}
.menu-visivel .info-tamanho{
  padding-left: var(--sidebar-width);
}

.info-tamanho .fa {
  color: #ffffff;
  padding: 0 10px;
}

.info-tamanho .close-info {
  position: absolute;
  right: 10px;
  top: 0px;
  color: white;
}

