<div class="arrow-up"></div>
<div class="arrow-down"></div>
<div class="arrow-left"></div>
<div class="arrow-right"></div>

<div id="message" *ngIf="messages">
    <button id="close" type="button" class="btn btn-circle-info" (click)="closeMessages()">
        <span class="sr-only">Excluir</span>
        <i class="fa fa-times-circle" aria-hidden="true"></i>
    </button>
    <ul [class.multiple]="messages.length > 1">
        <li *ngFor="let message of messages">{{message}}</li>
    </ul>
</div>

<div (click)="fecharDetalhes()" id="detalhes-container" *ngIf="detalhes">
    <div id="triangle"></div>
    <div id="detalhes-principal" class="detalhes principal">
        <button id="close" type="button" class="btn btn-circle-info" (click)="fecharDetalhes()">
            <span class="sr-only">Fechar</span>
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <div class="header">
            <img src="assets/logo-serpro-icon.png" alt="Logotipo Serpro">
            <div class="metrica">
                <span [title]="detalhes.metricaAtual.valor" class="valor">{{detalhes.metricaAtual.valorAbreviado}}</span>
                <span class="descricao">{{detalhes.metricaAtual.descricao}}</span>
            </div>
        </div>
        <div class="separador"></div>
        <div class="metricas">
            <ng-container *ngFor="let dado of detalhes.dadosPrincipais">
                <div class="metrica">
                    <span [title]="dado.valor" class="valor">{{dado.valorAbreviado}}</span>
                    <span class="descricao">{{dado.descricao}}</span>
                </div>
                <div class="separador-v"></div>
            </ng-container>
        </div>
        <div class="footer">
            <a *ngIf="detalhes.temFilhos" href="#" (click)="navegar(detalhes.node)">Saiba Mais</a>
        </div>
    </div>
    <div style="height: 90vh;"></div>
    <div id="detalhes-completo" class="detalhes completo">
        <div class="header">
            <p>{{detalhes.titulo}}</p>
            <button  class="btn btn-circle-info scroll" (click)="onClickScroll($event)">
                <i class="fa fa-chevron-down"></i>
            </button>
        </div>
        <div class="metricas">
            <ng-container *ngFor="let dado of detalhes.dados">
                <div class="card">
                    <div *ngIf="dado.icone">
                        <span class="icone" [ngClass]="dado.icone"></span>
                    </div>
                    <div class="metrica">
                        <span [title]="dado.valor" class="valor">{{dado.valorAbreviado}}</span>
                        <span class="descricao">{{dado.descricao}}</span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<header class="app-header">
    <div class="menu-toggler">
        <a title="Mostrar/Esconder Menu" (click)="menuVisivel = !menuVisivel" class="menu-hamburger"
            [class.active]="menuVisivel">
            <span class="fa fa-bars"></span>
        </a>
    </div>
    <div class="logo">
        <a href="https://www.loja.serpro.gov.br/">
            <img src="assets/logo-serpro.png" alt="Logotipo Serpro">
        </a>
    </div>
    <span class="app-name">Mapa de Soluções Serpro</span>
    <span class="fill-remaining-space"></span>

    <form class="form-inline search" (ngSubmit)="onSearch()">
        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <button class="btn btn-secondary" type="submit">
                    <i aria-hidden="true" class="fa fa-search"></i>
                    <label class="sr-only" for="form-search-input">Busca</label>
                </button>
            </div>
            <input aria-describedby="form-search-button" aria-label="Insira seu texto de busca" class="form-control"
                [(ngModel)]="query" name="query" placeholder="Busca" type="text">
        </div>
    </form>
</header>

<div id="container" [class.menu-visivel]="menuVisivel">
    <div *ngIf="menuVisivel" id="menu" class="menu sidebar">
        <div class="sidebar-nav">
            <ul class="nav">
                <li *ngFor="let metrica of tiposMetricas"
                        class="menu-item nav-item"
                        (click)="onClickMetrica(metrica)">
                    <a class="nav-link" [class.active]="metrica.id == tipoMetricaSel?.id">{{metrica.descricao}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="breadcrumb">
            <a href="https://www.loja.serpro.gov.br/" class="breadcrumb-item">
                <span class="fa fa-home"></span>
            </a>
            <a *ngIf="tipoMetricaSel" href="#" (click)="onBreacrumbClick('0')" class="breadcrumb-item">
                {{tipoMetricaSel.descricao}}
            </a>
            <ng-container *ngFor="let segment of segments; let last=last">
                <span *ngIf="last" class="breadcrumb-item">{{segment.label}}</span>
                <a *ngIf="!last" href="#" (click)="onBreacrumbClick(segment.id)"
                    class="breadcrumb-item">{{segment.label}}</a>
            </ng-container>
        </div>
        <div #cyContainerRef id="cy"></div>
    </div>
    <div *ngIf="mostrarInfoTamanho" class="info-tamanho">
        <button type="button" class="btn btn-circle-info close-info"
                title="Ciente" (click)="fecharInfoTamanho()">
            <span class="sr-only">Ciente</span>
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <span class="fa fa-info-circle"></span>
        O tamanho das elipses reflete proporcionalmente a quantidade de elementos contida no item pesquisado.
    </div>
</div>
